@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>
<hr />

<div>
    <p>Hello user. This page isn't really used for anything special. If you want to access this webpage, please visit < insert_webpage_here ></p>
</div>